body {
  color: #fff;
}

h1 {
  color: #000000;
  text-align: start;
  text-transform: uppercase;
}


.titulo-tabela {
  font-weight: bold;
  margin: 10px 0;
  color: #000;
  text-align: start;
}

.cor-fundo-cabecalho-moda {
  background-color: #BB86FC;
}

.cor-fundo-cabecalho-casa {
  background-color: #00C4B4;
}

.cor-fundo-valores {
  background-color: #424250;
}

th, td {
  padding: 8px;
}